Oneclick App LAMP

user_email: {{ user_email }}
user_name: {{ user_name }}
php_version: {{ php_version }}


vhost_user: {{ vhost_user }}
db_password: {{ db_password }}
vhost_password: {{vhost_password}}
